/* load fonts */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("./../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url("./../fonts/Lato-Regular.ttf") format("truetype");
}


/* reset styles */
body {
    margin: 0px;
    padding: 0px;
}

select, button, input {
    outline: none;
    border: none;
    background-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}



body {
    font-family: 'PT Sans';
}


.lorem {
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open_modal {
    background-color: #393e45;
    color: #dd5151;
    font-weight: bold;
    padding: 16px 8px;
    border-radius: 3px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}




.modal-partner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
    background-color: #0000006B;
    padding: 100px 10px;
    box-sizing: border-box;
    display: none;
}
.modal-partner.open {
    display: flex;
}

.modal-partner__wrapper {
    max-width: 754px;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 12px;
    padding: 53px 98px;
    display: grid;
    gap: 32px;
}


.modal-partner__header {
    color: #0C1014;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
}


.modal-partner__partner-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    align-items: center;
}



.modal-partner__list-data {
    display: grid;
    gap: 32px;
}


.modal-partner__input-group {
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #D6DADE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 8px;
    position: relative;
}

.modal-partner__input {
    color: #0C1014;
    font-size: 16px;
    line-height: 24px;
}

.modal-partner__label {
    line-height: 16px;
    font-size: 12px;
    color: #6A6E72;
}
.modal-partner__label:before {
    content: '✱';
    color: red;
    font-size: 12px;
}




.modal-partner__image-group {
    position: relative;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    background-image: url("./../img/photo-man.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.modal-partner__span {
    position: absolute;
    bottom: calc(100% + 8px);
    color: #6A6E72;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.modal-partner__span:before {
    content: '✱';
    color: red;
}

.group-image__button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.group-image__title {
    font-size: 18.67px;
    color: #fff;
    line-height: 28px;
    text-decoration: underline;
}

.modal-partner__file-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-partner__file {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
}




.modal-partner__main-info {
    display: grid;
    gap: 32px;
}

.modal-partner__input-icon {
    position: absolute;
    right: 12px;
}


.modal-partner__buttons-group {
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.modal-partner__button--send {
    height: 48px;
    background-color: #E5266E;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Lato";
    cursor: pointer;
    border-radius: 4px;
}

.modal-partner__button--close {
    font-size: 16px;
    line-height: 24px;
    color: #0848C0;
    cursor: pointer;
}




/* .modal-partner__input:focus+.modal-partner__label,
.modal-partner__input:not(:placeholder-shown)+.modal-partner__label {
    margin-top: 0px;
}

::-webkit-input-placeholder {
    opacity: 0;
}
  
.modal-partner__input:focus::-webkit-input-placeholder {
    opacity: 1;
} */




@media (max-width: 768px) {
    .modal-partner__wrapper {
        padding: 27px 44px;
    }

    .modal-partner__partner-info {
        grid-template-columns: auto;
    }

    .modal-partner__image-group {
        margin: auto;
    }

    .modal-partner {
        padding: 50px 6px;
    }
}