
.table__header--column {
    transition: .2s;
    cursor: pointer;
    background-color: #eee;
}
.table__header--column:hover {
    background-color: #333;
    color: #fff;
}

.hidden {
    display: none;
}